body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin-left: 20px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    padding: 0 20px;
}
.logo{
    margin-left: 10px;
    height: 50px;
}
.navs{
    display: flex;
    
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: flex;
    text-decoration: underline;
    font-weight: bold;
}
.mision{
    height: 700px;
    align-content: center;
    justify-content: center;
    background-image: url(./images/img-mission-background.jpg);
    background-size: cover;
    text-align: center;
}
.text{
    background-color: black;
}
.tea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px;
}
.card img{
    height: 200px;
    width: 300px;
    margin: 0;
    padding: 0;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers image & caption inside each card */
    text-align: center;
    width: 300px;
}
h2, h4{
    margin-bottom: 10px;
}
